:root {
    --nav: #fff;
    --background: #fafafa;
    --dark-nav: #2b3743;
    --dark-background: #212e37;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Nunito Sans', sans-serif; 
    color: #000;
    background-color: var(--background);
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* Navbar */
.navbar {
    background-color: var(--nav);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}